<form action="/create" method="post">

<h2>create ToDo</h2>

<div>

<input id="icon_prefix" type="text" name="title">
<label for="">ToDo title </label>

</div>


<button type="submit" class="waves-effect waves-light btn-large">create</button>

</form>
